{
    "openapi": "3.0.0",
    "info": {
        "title": "API de Ewuang",
        "description": "Documentation de l'API pour mon application Ewuang",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Serveur API"
        }
    ],
    "paths": {
        "/api/articles": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Liste des articles",
                "operationId": "93ded9e31119e6bbb22455c72ef97f19",
                "responses": {
                    "200": {
                        "description": "Liste des articles récupérée avec succès"
                    }
                }
            },
            "post": {
                "tags": [
                    "Articles"
                ],
                "summary": "Créer un nouvel article",
                "operationId": "75bdc5f953261e6f34852386c9b522c0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nom",
                                    "prix",
                                    "user_id",
                                    "categorie",
                                    "variations"
                                ],
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "example": "T-shirt Oversize"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Un t-shirt oversize 100% coton, très confortable."
                                    },
                                    "prix": {
                                        "type": "integer",
                                        "example": 12000
                                    },
                                    "prixPromotion": {
                                        "type": "integer",
                                        "example": 10000
                                    },
                                    "isPromotion": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "pourcentageReduction": {
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "madeInGabon": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "user_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "categorie": {
                                        "type": "string",
                                        "example": "Vêtements Homme"
                                    },
                                    "image_principale": {
                                        "type": "file"
                                    },
                                    "variations": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "taille": {
                                                    "type": "string",
                                                    "example": "M"
                                                },
                                                "couleur": {
                                                    "type": "string",
                                                    "example": "Noir"
                                                },
                                                "stock": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 12000
                                                },
                                                "image": {
                                                    "type": "file"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Article créé avec succès"
                    }
                }
            }
        },
        "/api/articles/{id}": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Afficher un article spécifique",
                "operationId": "a85697b2464e9aaa3f9980a83edbef88",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'article",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article trouvé"
                    },
                    "404": {
                        "description": "Article non trouvé"
                    }
                }
            },
            "put": {
                "tags": [
                    "Articles"
                ],
                "summary": "Mettre à jour un article",
                "operationId": "beb39fc2f8d02c16b41438aadbd9ba03",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'article",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ArticleStoreRequest"
                },
                "responses": {
                    "200": {
                        "description": "Article mis à jour avec succès"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Articles"
                ],
                "summary": "Supprimer un article",
                "operationId": "804276a4147e577744e158b2ce2b58f8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'article",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article supprimé avec succès"
                    },
                    "404": {
                        "description": "Article non trouvé"
                    }
                }
            }
        },
        "/api/articles/boutique/{id}": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Lister les articles d'une boutique",
                "operationId": "70426ed8d3004772b7ffeb528231179a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la boutique",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Articles de la boutique récupérés"
                    }
                }
            }
        },
        "/api/articles/disponibles/{id}": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Lister les articles disponibles en stock",
                "operationId": "877ed3cef88310b193f8eb3fc2614e39",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID (non utilisé ici, peut être retiré)",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Articles disponibles récupérés"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Connexion avec email et mot de passe",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "test@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "sanctum-token-123456"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Échec d'authentification",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Email ou mot de passe incorrect"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/firebase-login": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Connexion avec Firebase UID",
                "description": "Connexion d'un utilisateur via Firebase UID. Si l'utilisateur n'existe pas, il est créé.",
                "operationId": "firebaseLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "firebase_uid",
                                    "email",
                                    "name",
                                    "role"
                                ],
                                "properties": {
                                    "firebase_uid": {
                                        "type": "string",
                                        "example": "abc123UIDFirebase"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "Client",
                                            "Boutique",
                                            "Livreur"
                                        ],
                                        "example": "Client"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Utilisateur authentifié avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Utilisateur authentifié"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "johndoe@example.com"
                                                },
                                                "role": {
                                                    "type": "string",
                                                    "example": "Client"
                                                },
                                                "firebase_uid": {
                                                    "type": "string",
                                                    "example": "abc123UIDFirebase"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "eyJ0eXAiOiJKV1QiLCJhbGciOi..."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Données invalides",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Données incomplètes ou rôle invalide"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Erreur d'authentification",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "example": "Authentification échouée"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "Déconnexion",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Déconnexion réussie"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/commandes": {
            "get": {
                "tags": [
                    "Commandes"
                ],
                "summary": "Lister toutes les commandes",
                "operationId": "dea07d1f5b0214a61007ee81394afb49",
                "responses": {
                    "200": {
                        "description": "Liste des commandes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "numero": {
                                                "type": "string",
                                                "example": "CMD-20250513-XYZ"
                                            },
                                            "statut": {
                                                "type": "string",
                                                "example": "En attente"
                                            },
                                            "prix": {
                                                "type": "integer",
                                                "example": 15000
                                            },
                                            "commentaire": {
                                                "type": "string",
                                                "example": "Livraison rapide svp"
                                            },
                                            "isLivrable": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "user_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-05-13T12:00:00Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-05-13T12:10:00Z"
                                            },
                                            "articles": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "nom": {
                                                            "type": "string",
                                                            "example": "T-shirt Gabon"
                                                        },
                                                        "pivot": {
                                                            "properties": {
                                                                "quantite": {
                                                                    "type": "integer",
                                                                    "example": 2
                                                                },
                                                                "prix_unitaire": {
                                                                    "type": "integer",
                                                                    "example": 5000
                                                                },
                                                                "variation_id": {
                                                                    "type": "integer",
                                                                    "example": 4,
                                                                    "nullable": true
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Commandes"
                ],
                "summary": "Créer une commande",
                "operationId": "a0adabc1247408638906a1730771c649",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id",
                                    "isLivrable",
                                    "articles"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "commentaire": {
                                        "type": "string",
                                        "example": "Livraison rapide svp"
                                    },
                                    "isLivrable": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "articles": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "article_id",
                                                "quantite"
                                            ],
                                            "properties": {
                                                "article_id": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "variation_id": {
                                                    "type": "integer",
                                                    "example": 4,
                                                    "nullable": true
                                                },
                                                "quantite": {
                                                    "type": "integer",
                                                    "example": 2
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Commande créée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 42
                                        },
                                        "numero": {
                                            "type": "string",
                                            "example": "CMD-20250513-XYZ"
                                        },
                                        "statut": {
                                            "type": "string",
                                            "example": "En attente"
                                        },
                                        "prix": {
                                            "type": "integer",
                                            "example": 15000
                                        },
                                        "isLivrable": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "articles": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "article_id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "variation_id": {
                                                        "type": "integer",
                                                        "example": 4,
                                                        "nullable": true
                                                    },
                                                    "quantite": {
                                                        "type": "integer",
                                                        "example": 2
                                                    },
                                                    "prix_unitaire": {
                                                        "type": "integer",
                                                        "example": 5000
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Erreur de validation"
                    }
                }
            }
        },
        "/api/commandes/{id}": {
            "get": {
                "tags": [
                    "Commandes"
                ],
                "summary": "Afficher une commande spécifique",
                "operationId": "e2139b0d214645abdde594d82da2f048",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la commande",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails de la commande",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "numero": {
                                            "type": "string",
                                            "example": "CMD-20250513-XYZ"
                                        },
                                        "statut": {
                                            "type": "string",
                                            "example": "En attente"
                                        },
                                        "prix": {
                                            "type": "integer",
                                            "example": 15000
                                        },
                                        "commentaire": {
                                            "type": "string",
                                            "example": "Livraison rapide svp"
                                        },
                                        "isLivrable": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-05-13T12:00:00Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-05-13T12:10:00Z"
                                        },
                                        "articles": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "nom": {
                                                        "type": "string",
                                                        "example": "T-shirt Gabon"
                                                    },
                                                    "pivot": {
                                                        "properties": {
                                                            "quantite": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "prix_unitaire": {
                                                                "type": "integer",
                                                                "example": 5000
                                                            },
                                                            "variation_id": {
                                                                "type": "integer",
                                                                "example": 4,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée"
                    }
                }
            }
        },
        "/api/commandes/{id}/statut": {
            "patch": {
                "tags": [
                    "Commandes"
                ],
                "summary": "Mettre à jour le statut d'une commande",
                "operationId": "539c1ceeb5b0bb51f6480e20e28c1f04",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la commande",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "statut"
                                ],
                                "properties": {
                                    "statut": {
                                        "description": "Nouveau statut de la commande. Valeurs possibles : En attente, En préparation, Prête pour livraison, En cours de livraison, Livrée, Annulée, Remboursée",
                                        "type": "string",
                                        "example": "Livrée"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Statut mis à jour avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Statut mis à jour avec succès."
                                        },
                                        "commande": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "statut": {
                                                    "type": "string",
                                                    "example": "Livrée"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-05-13T14:30:00Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-05-13T13:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation échouée"
                    },
                    "404": {
                        "description": "Commande non trouvée"
                    }
                }
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Liste tous les utilisateurs",
                "operationId": "566aed8efb436ca506e0ef51a032ecd9",
                "responses": {
                    "200": {
                        "description": "Liste des utilisateurs"
                    }
                }
            },
            "post": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Créer un nouvel utilisateur",
                "operationId": "be551c1d694a01c164966f58bfa77013",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "role",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john@example.com"
                                    },
                                    "role": {
                                        "type": "string",
                                        "example": "Boutique"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "secret123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur créé"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                }
            }
        },
        "/api/users/{id}": {
            "get": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Afficher un utilisateur",
                "operationId": "6f51bd5fa2dddcd25e44cfa53dcbd10a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur trouvé"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            },
            "put": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Mettre à jour un utilisateur",
                "operationId": "070e37fc9aff78ae73860751bc990ed3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Updated"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newpass123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Utilisateur mis à jour"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Supprimer un utilisateur",
                "operationId": "0b4133ed462528a5e648b88ead11e929",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur supprimé"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            }
        },
        "/api/users/{id}/livraisons": {
            "get": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Afficher les livraisons de l'utilisateur",
                "operationId": "9073829f60baf55e58b46b6614bb01a0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des livraisons"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            }
        },
        "/api/users/{id}/reclamations": {
            "get": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Afficher les réclamations de l'utilisateur",
                "operationId": "f40b157600ee99905428b6a635100626",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des réclamations"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            }
        },
        "/api/users/{id}/commandes": {
            "get": {
                "tags": [
                    "Utilisateurs"
                ],
                "summary": "Afficher les commandes de l'utilisateur",
                "operationId": "b1033319a0390eac122d8b0bb1b8507b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de l'utilisateur",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des commandes"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Article": {
                "title": "Article",
                "required": [
                    "id",
                    "nom",
                    "prix",
                    "isPromotion",
                    "pourcentageReduction",
                    "madeInGabon",
                    "user_id",
                    "categorie"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "nom": {
                        "type": "string",
                        "example": "Chemise en lin"
                    },
                    "description": {
                        "type": "string",
                        "example": "Chemise légère pour l'été",
                        "nullable": true
                    },
                    "prix": {
                        "type": "integer",
                        "example": 10000
                    },
                    "prixPromotion": {
                        "type": "integer",
                        "example": 8000,
                        "nullable": true
                    },
                    "isPromotion": {
                        "type": "boolean",
                        "example": true
                    },
                    "pourcentageReduction": {
                        "type": "integer",
                        "example": 20
                    },
                    "madeInGabon": {
                        "type": "boolean",
                        "example": true
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "categorie": {
                        "type": "string",
                        "example": "Vêtements Homme"
                    },
                    "image_principale": {
                        "type": "string",
                        "example": "https://cdn.maboutique.com/images/article123.jpg",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-30T12:34:56Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-30T12:34:56Z"
                    }
                },
                "type": "object"
            },
            "User": {
                "title": "User",
                "required": [
                    "id",
                    "name",
                    "role",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Boutique LeBoss"
                    },
                    "role": {
                        "type": "string",
                        "example": "Boutique"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "leboss@boutique.com"
                    },
                    "url_logo": {
                        "type": "string",
                        "example": "https://cdn.maboutique.com/logo123.png",
                        "nullable": true
                    },
                    "phone": {
                        "type": "string",
                        "example": "+241074000000",
                        "nullable": true
                    },
                    "heure_ouverture": {
                        "type": "string",
                        "example": "08:00",
                        "nullable": true
                    },
                    "heure_fermeture": {
                        "type": "string",
                        "example": "18:00",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "example": "Boutique spécialisée dans les vêtements africains",
                        "nullable": true
                    },
                    "solde": {
                        "type": "integer",
                        "example": 15000
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-18T10:30:00Z",
                        "nullable": true
                    },
                    "password": {
                        "type": "string",
                        "example": null,
                        "nullable": true
                    },
                    "remember_token": {
                        "type": "string",
                        "example": "token123",
                        "nullable": true
                    },
                    "current_team_id": {
                        "type": "integer",
                        "example": 2,
                        "nullable": true
                    },
                    "profile_photo_path": {
                        "type": "string",
                        "example": "/storage/profile/user123.jpg",
                        "nullable": true
                    },
                    "firebase_uid": {
                        "type": "string",
                        "example": "firebase-uid-abc123",
                        "nullable": true
                    },
                    "abonnement": {
                        "type": "string",
                        "example": "Simple"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-18T08:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-18T10:00:00Z"
                    }
                },
                "type": "object"
            },
            "Variation": {
                "title": "Variation",
                "required": [
                    "id",
                    "article_id",
                    "stock"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "article_id": {
                        "description": "ID de l'article parent",
                        "type": "integer",
                        "example": 12
                    },
                    "couleur": {
                        "type": "string",
                        "example": "Rouge",
                        "nullable": true
                    },
                    "taille": {
                        "type": "string",
                        "example": "M",
                        "nullable": true
                    },
                    "stock": {
                        "type": "integer",
                        "example": 10
                    },
                    "prix": {
                        "type": "integer",
                        "example": 15000,
                        "nullable": true
                    },
                    "image": {
                        "type": "string",
                        "example": "https://cdn.maboutique.com/variations/img1.jpg",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-30T08:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-30T10:00:00Z"
                    }
                },
                "type": "object"
            }
        },
        "requestBodies": {
            "ArticleStoreRequest": {
                "description": "Données pour créer ou mettre à jour un article",
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "nom",
                                "prix",
                                "categorie",
                                "user_id"
                            ],
                            "properties": {
                                "nom": {
                                    "type": "string",
                                    "example": "T-shirt en coton"
                                },
                                "description": {
                                    "type": "string",
                                    "example": "T-shirt 100% coton, confortable"
                                },
                                "prix": {
                                    "type": "integer",
                                    "example": 10000
                                },
                                "prixPromotion": {
                                    "type": "integer",
                                    "example": 8000,
                                    "nullable": true
                                },
                                "isPromotion": {
                                    "type": "boolean",
                                    "example": false
                                },
                                "pourcentageReduction": {
                                    "type": "integer",
                                    "example": 0
                                },
                                "madeInGabon": {
                                    "type": "boolean",
                                    "example": false
                                },
                                "user_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "categorie": {
                                    "type": "string",
                                    "example": "Vêtements Femme"
                                },
                                "image_principale": {
                                    "type": "string",
                                    "example": "https://cdn.maboutique.com/images/tshirt123.jpg",
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Articles",
            "description": "Articles"
        },
        {
            "name": "Authentification",
            "description": "Authentification"
        },
        {
            "name": "Commandes",
            "description": "Commandes"
        },
        {
            "name": "Utilisateurs",
            "description": "Utilisateurs"
        }
    ]
}